<div class = "border-bottom row" style = "margin-bottom:16px;padding-bottom:4px;">
 <div class = "col-8">
   <h3 class = "mt-4">{{plan["course"]}}</h3>
   <div style= "color:rgb(120,120,120)"><b></b>DURATION:</b> {{plan["duration"]}}</div>
   <div style= "color:rgb(120,120,120)"><b></b>PRICE:</b> {{plan["Price"]}}</div>
 </div>
 <div class = "col-4" style = "margin-top:8px;">
    <button type= "button" class = "btn btn-outline-primary" style = "margin-right:8px;margin-top: 16px;margin-bottom:8px;">VIEW</button>
   <button type= "button" class = "btn btn-outline-primary"  style = "margin-top: 15px;margin-bottom:9px;">BUY</button>
 </div>
<!-- <div class = "col-2">
   <button type= "button" class = "btn btn-outline-primary">BUY</button>

</div> -->


</div>